:root {
    --bg-color: #333;
    --text-color: #fff;
    --container-bg: #444;
    --button-bg: #555;
    --button-text: #fff;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: var(--container-bg);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input,
select,
button {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
}

button {
    cursor: pointer;
    background-color: var(--button-bg);
    color: var(--button-text);
}

#output {
    width: calc(100% - 24px);
}

#preview {
    margin-top: 20px;
    font-size: 18px;
    color: var(--text-color);
    cursor: pointer;
}

.light-theme {
    --bg-color: #f0f0f0;
    --text-color: #000;
    --container-bg: #fff;
    --button-bg: #ddd;
    --button-text: #000;
}